.info_catalog {
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  .info_catalog-text {
    display: flex;
    align-items: start;
    .btn_back {
      background-color: transparent;
      border: none;
      margin-top: 2px;
      cursor: pointer;
    }
    p {
      font-weight: 800;
      font-size: 52px;
      line-height: 52.4px;
      margin-left: 40px;
    }
  }
  .info_catalog-item {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: end;
    .catalog_Feedback {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 32px;
        font-weight: 600;
      }

      button {
        font-size: 18px;
        padding: 17px 30px;
        border: none;
        background-color: #ffccb2;
        color: #ff5400;
        border-radius: 16px;
        margin-left: 30px;
        cursor: pointer;
      }
      button:hover {
        transition: all 0.3s;
        box-shadow: 0px 0px 10px #ff5400;
      }
    }
    .info_catalog-textInfo {
      font-size: 17px;
      max-width: 405px;
      color: #868686;
      margin-top: 20px;
    }
  }
} //_________________________________________________________//
.block-catalog {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  margin-top: 126px;
  .sorting {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #868686;
    font-size: 17px;
    font-weight: 600;
    align-items: center;

    .sorting_input {
      position: relative;
      img {
        position: absolute;
        top: 7px;
        right: 95px;
        width: 18px;
        height: 22px;

        cursor: pointer;
      }
    }
    .search {
      padding: 10px 200px 10px 40px;
      border-radius: 15px;
      border: solid 1px #868686;
      margin-right: 80px;

      &:focus {
        outline: 0;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        transition: 1s;
      }
    }
  }
}
.block-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 40px;

  .cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 200px));
    gap: 20px;
  }
  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    padding: 10px;
    .card-info {
      margin-top: 10px;
      text-align: center;
      color: #000000;
      font-size: 13px;
    }
    cursor: pointer;

    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    transition: 0.3s;

    .card-img {
      .img-block {
        max-width: 100px;
        height: auto;
        margin-top: 20px;
        object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
        object-position: center; /* Центрирует изображение */
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        padding-left: 24px;
        position: relative;
        font-size: 13px;
        font-weight: 500;

        span {
          content: "";
          display: inline-block;
          position: absolute;
          background-image: url(../../assets/images/icon-card.svg);
          background-repeat: no-repeat;
          width: 12px;
          height: 12px;
          top: 3px;
          left: 0;
        }
      }
    }
  }
}
.search-filter {
  .block-filter {
    padding: 20px 16px 20px 16px;
    background-color: #f5f6f6;
    border-radius: 10px;
  }
  .active {
    font-weight: 600;
    color: #ff5400;
  }
  li {
    max-width: 220px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #242424;
    cursor: pointer;
    &:hover {
      transition: all 0.3s;
      color: #ff5400;
      font-family: 600;
    }
  }
  button {
    padding: 12px 30px 12px 30px;
    margin-top: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #000000;
    border-radius: 60px;
    font-size: 15px;
    color: rgb(12, 12, 12);
    cursor: pointer;
    &:hover {
      transition: all 0.3s;
      box-shadow: 0px 0px 10px #ff5400;
    }
  }
}
