@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev {
  position: absolute;
  background-image: url(../../../assets/images/chevron.png);
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  top: 40%;
  margin-left: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 10000;
}
.slick-prev:hover {
  border: solid 1px #ff5400;
  border-radius: 50%;
}

.slick-next {
  position: absolute;
  background-image: url(../../../assets/images/chevron.png);
  width: 40px;
  height: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  left: 95%;
  top: 40%;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 10000;
}
.slick-next:hover {
  border: solid 1px #ff5400;
  border-radius: 50%;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  color: #ff5400;
}
.slick-dots li button:before {
  position: absolute;
  top: -150px;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: #868686;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #ff5400;
  opacity: 0.75;
}

.container_Slider {
  background-color: #f5f6f6;
  font-family: "Manrope", sans-serif;
}
.container_Slider .header-info {
  position: relative;
  width: 667px;
  padding: 110px 0px 192px 110px;
}
.container_Slider .header-info h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 62.4px;
}
.container_Slider .header-info p {
  margin: 20px 0 60px;
  font-size: 17px;
  width: 500px;
}
.container_Slider .imgSlider {
  position: absolute;
  top: -138px;
  left: 394px;
}
.container_Slider .photo {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 20px;
  left: 794px;
  border-radius: 20%;
}
.container_Slider .btn_slider {
  display: inline-block;
  font-family: "Manrope", sans-serif;
  border-radius: 16px;
  background-color: #ff5400;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 17px 34px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.container_Slider .btn_slider span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.container_Slider .btn_slider span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.container_Slider .btn_slider:hover span {
  padding-right: 25px;
}
.container_Slider .btn_slider:hover span:after {
  opacity: 1;
  right: 0;
} /*# sourceMappingURL=slick-theme.css.map */
